<!DOCTYPE html>
<html lang=" = 'en'">
<head>
    <meta charset="UTF-8">
    <meta name= "viewport" content = "width-device-width, initial-scale= 1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Links App</title>
    {{!--Google Fonts--}}
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    {{!--Boostrapp--}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {{!--Font Awesome--}}
    <script src="https://kit.fontawesome.com/31aa95d6bd.js" crossorigin="anonymous"></script>
    {{!--Styles--}}
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    {{> navigation}}

    {{{ body }}}

</body>
</html>